@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@600&family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap');
@font-face {
    font-family: "Tiempos Headline";
    font-style: normal;
    src: url("fuentes/AnyConv.com__TiemposText-Bold.woff2") format("woff2"),
      url("fuentes/TiemposText-Bold.woff") format("woff"),
      url("fuentes/TiemposText-Bold.ttf") format("truetype");
  }

*{
    margin: 0%;
    padding: 0%;
}

#contenedor{
    display: flex;
    flex-direction: column;
    
}

#contenedor > div{
    display: flex;
    height: 764px;
}
#primero p{
    margin-bottom: 1%;
}

#margen1{
    margin-bottom: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color :#1C1C1C;
}

.gris{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    color: #807F7F;
}

#primero div:nth-child(2) p:nth-child(2){
    font-weight: bold;
    font-size: 62px;
    margin-bottom: 3%;
    color :#1C1C1C;
    font-family: "Tiempos Headline";
}

#p1{
    font-family: 'Karla', sans-serif;
    font-size: 26px;
    line-height: 38px;
    color :#1C1C1C;
}

#palabra{
    color: #471AFF;
}

#lista{
    display: flex;
    align-items: center;
    margin-left: 10%;
    width: 80%;
    margin-top: 6%;
}

#lista a{
    text-decoration: none;
    color: #1C1C1C;
}

#lista ul{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    font-size: 16px;
}

#lista > p{
    font-family: 'Montserrat', sans-serif;
    color: #1C1C1C;
    font-size: 16px;
}

#desplegable{
    visibility: hidden;
    text-align: center;
    height: auto;
    background-color: #E2DDFF;
    width: 100%;
}

.padd{
    padding-top: 11%;
    padding-bottom: 11%;
}


.padd:hover{
    display: block;
    background-color:#b1a8f1 ;
}


hr{
    align-items: center;
    color: #D4CDFF;
    background-color: #D4CDFF;
    border: 2px solid #D4CDFF;
    border-radius: 18%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#desplegable span{
    margin-right: 15%;
}

#proyecto{
    width: 18%;
    text-align: center;
}

#proyecto:hover #desplegable{
    visibility: initial;
}

#imagen{
    display: flex;
    justify-content: center;
}

#imagen img{
    width: 70%;
}


#segundo div:first-child div{
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

#p2{
    margin-top: 35%;
    margin-left: 25%;
}

#segundo div:nth-child(2) p{
    font-family: 'Karla', sans-serif;
    margin-bottom: 10%;
    font-size: 24px;
}

#tercero div:first-child div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tercero div:first-child{
    display: flex;
    justify-content: center;
}

#tercero div:first-child p{
    font-family: 'Karla', sans-serif;
    margin-bottom: 10%;
    font-size: 24px;
}

#img2{
    display: flex;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

#img2 img{
    width: 100%;
}

.boton{
    width: 50%;
    text-align: center;
    margin-left: 15%;
    border: 2px solid #5E5E5E;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Karla', sans-serif;
    color: #5E5E5E;
    font-size: 18px;
    text-decoration: none;
}

.boton:hover{
    background-color: #5D5D5D;
    color: white;
}

#img3{
    display: flex;
}

#cuarto p:first-child{
    color :#1C1C1C;
    font-family: "Tiempos Headline";
    font-size: 42px;
}

#cuarto p:nth-child(2){
    color :#1C1C1C;
    font-family: 'Karla', sans-serif;
    font-size: 24px;
}

#ultimo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ultimo p:first-child{
    font-size: 42px;
    font-weight: bold;
}

#ultimo p{
    margin-bottom: 5%;
}

#ultimo img:first-child{
    margin-right: 5%;
}

.flexible{
    display: flex;
    justify-content: center;
}

.cubo{
    width: 50%;
}

.blanco{
    background-color: white;
}

.rosa{
    background-color: #FFB3AE;
}

.azul{
    background-color: #ADDDE8;
}

.amarillo{
    background-color: #FFE0A1;
}

.morado{
    background-color: #D4CDFF;
}

.margen{
    margin-top: 6%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
}